.footer {
  width: 100%;
  height: 30px;
  border-top: 1px solid #fff;
  background: $blackColor;
  text-align: end;
  line-height: 30px;
}

.copyright {
  color: #fff;
  margin-right: 30px;
  font-size: 1.3em;
}